<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div>
          <form action="/index/{{post._id}}?_method=PUT" method="POST">
            <fieldset>
              <legend>Edit Post</legend>
              <label>
                Player: {{post.name}}
              </label>
              <label for="post"></label>
              <textarea id="post" name="postBody" rows="4" cols="50" value="">{{post.postBody}}</textarea>
            </fieldset>
            <input type="submit" value="Submit Edits"/>
          </form>
        </div>
    </body>
    </html>
    