{% layout "layout.liquid" %} {% block content %}
<link rel="stylesheet" href="../css/styles.css">
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
	    
	    <div class=" newBody col-md-12 col-md-offset-2">
	        
    		<h1>Create post</h1>
    		
    		<form action="/home" method="POST">
    		    <div class="form-group">
    		        <label for="title">Player <span class="require">*</span></label>
    		        <select id="players" name="name">
                        {% assign players_by_name = players | sort: "name" %}
                    {%for player in players_by_name%}
                  <option value="{{player.name}}">{{player.name}}</option>
                  {%endfor%}
              </select>
    		    </div>
    		    
    		    <div class="form-group">
    		        <label for="postBody">Description</label><br>
    		        <textarea id="post" name="postBody" rows="4" cols="100" value="Write your post here!"></textarea>
    		    </div>
    		    
    		    <div class="form-group">
    		        <p><span class="require">*</span> - required fields</p>
    		    </div>
    		    
    		    <div class="form-group">
    		        <button type="submit" class="btn btn-primary">
    		            Create Post
    		        </button>
    		        <button class="btn btn-default">
    		            Cancel
    		        </button>
    		    </div>
    		    
    		</form>
		</div>
		
	</div>
</div>

{%endblock%}



{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
      <form action="/home" method="POST">
        <fieldset>
          <legend>Create a New Post</legend>
          <label>
            Player:
            <select id="players" name="name">
                {%for player in players%}
                <option value="{{player.name}}">{{player.name}}</option>
                {%endfor%}
            </select>
          </label>
          <label for="post"></label>
          <textarea id="post" name="postBody" rows="4" cols="50" value="Write your post here!"></textarea>
        </fieldset>
        <input type="submit" value="Post"/>
        <a href="/home">Back</a>
      </form>
    </div>
</body>
</html> {% endcomment %}

